<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693246696932-5ads0u92taimo6lcpero0a9oepmmo393.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693246696932-5ads0u92taimo6lcpero0a9oepmmo393</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>693246696932-s8tgtc2bqb60k8tm4ihs3vrs9cod4mqh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwcodJCJ18T1LBxE0WymtQdnKL_QPg0OQ</string>
	<key>GCM_SENDER_ID</key>
	<string>693246696932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makereal.kukufarm</string>
	<key>PROJECT_ID</key>
	<string>kukufarm</string>
	<key>STORAGE_BUCKET</key>
	<string>kukufarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693246696932:ios:48f1a38e831e002b193bf1</string>
</dict>
</plist>