<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708934845319-f7hi168fe2dlgvg2gi537crrsk1tt5j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708934845319-f7hi168fe2dlgvg2gi537crrsk1tt5j7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>708934845319-ogd1bldg998goi85mnhftu9tq76dndsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Wx-vxutzCSWNtjT4CWeHUB5PqUyYgBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>708934845319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.justcheckingin.app</string>
	<key>PROJECT_ID</key>
	<string>just-checking-in-bitrupt</string>
	<key>STORAGE_BUCKET</key>
	<string>just-checking-in-bitrupt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708934845319:ios:2d8feef863b0785f908922</string>
	<key>DATABASE_URL</key>
	<string>https://just-checking-in-bitrupt.firebaseio.com</string>
</dict>
</plist>